<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit person</title>
</head>
<body>
    <div class="row">
        <div class="col-md-2">First Name:</div>
        <div class="col-md-10"><input id="Firstname" /></div>
    </div>
    <div class="row">
        <div class="col-md-2">Last Name:</div>
        <div class="col-md-10"><input id="Lastname" /></div>
    </div>
    <div class="row">
        <div class="col-md-2">EMail Address:</div>
        <div class="col-md-10"><input id="email" /></div>
    </div>

    <div class="row">
        <div class="col-md-2"><input type="submit" value="Save"></div>
        <div class="col-md-2"><input type="button" value="Cancel"></div>
    </div>

</body>
</html>